{% extends "layout.html" %} {% block title %}Laps{% endblock %} {% block head %} {% endblock %} {% block content %}

<!-- display the fastet laps-->

<table>
    <tr>
        <td>
            <div class="panel-heading">
                <h4 class="panel-title ">Top 10 Rounds</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for lap in total_top_fastes_laps %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=lap.pilot_id).first().callsign }}
                        </td>
                        <td>
                            {{ lap.lap_time_formatted }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
        <td>

            <div class="panel-heading">
                <h4 class="panel-title ">Top # of Rounds</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for pilot in top_pilot_lapnumber_array %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=pilot[0]).first().callsign }}
                        </td>
                        <td>
                            {{pilot[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
        <td>

            <div class="panel-heading">
                <h4 class="panel-title ">Top Laps</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for pilot in top_pilot_fastes_lap_array %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=pilot[0]).first().callsign }}
                        </td>
                        <td>
                            {{pilot[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </td>
        <td>

            <div class="panel-heading">
                <h4 class="panel-title ">Top 50% avg</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for pilot in top_pilot_50_avg_array %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=pilot[0]).first().callsign }}
                        </td>
                        <td>
                            {{pilot[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </td>
        <td>

            <div class="panel-heading">
                <h4 class="panel-title ">Top 80% avg</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for pilot in top_pilot_80_avg_array %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=pilot[0]).first().callsign }}
                        </td>
                        <td>
                            {{pilot[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </td>
        <td>

            <div class="panel-heading">
                <h4 class="panel-title ">Top 90% avg</h4>
            </div>
            <table class="table">
                <tbody>
                    {% for pilot in top_pilot_90_avg_array %}
                    <tr>
                        <td>
                            {{ pilots.query.filter_by( id=pilot[0]).first().callsign }}
                        </td>
                        <td>
                            {{pilot[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>

<!-- display all laps of pilots sorted by time-->
<table>
    <tr>
        {% for pilot in pilots.query.order_by(pilots.id)  %}
        {%if rounds_per_pilot[pilot.id] > 0 %}
        <td>
            <div class="panel-heading">
                <h4 class="panel-title ">{{ pilot.callsign}}</h4>


                # of laps:{{rounds_per_pilot[pilot.id]}}<br />
                50% avg: {{avg_50_laptime_array[pilot.id]}}<br />
                80% avg: {{avg_80_laptime_array[pilot.id]}}<br />
                90% avg: {{avg_90_laptime_array[pilot.id]}}<br />
            </div>
            <table class="table">
                <tbody>
                    <tr><td></td></tr>
                    {% for lap in rounds.query.filter(rounds.pilot_id==pilot.id,rounds.lap_id!=0).order_by(rounds.lap_time) %}
                    <tr>
                        <td>
                            {{ lap.heat_id }}:{{ lap.round_id }}:{{ lap.lap_id }}
                        </td>
                        <td>
                            {{ lap.lap_time_formatted }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>

        {% endif %}
        {% endfor %}
    </tr>
</table>
        {% endblock %}
